.footer {
  background-color: rgb(240, 240, 240);
  text-align: center;
  padding: 5px 5px;
  margin-top: 1px;
}

.footer h3 {
  margin-bottom: 10px;
  color: rgb(25, 135, 84);
}

.footer-info p {
  margin: 5px 0;
  color: rgb(80, 80, 80);
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
  color: gray;
}